<!-- card with car info -->
{{#each this}}
<div class="col">
	<div class="car-page-card hover h-100 card">
		<!-- car image -->
		<img src="{{image}}" class="card-img-top" alt="{{make}}_{{model}}">
		<div class="card-body">
			<!-- car year, make, model -->
			<h5 class="card-title">{{year}} {{make}} {{model}}</h5>
			<h6>{{type}}</h6>
		</div>
		<div class="d-grid align-items-end p-3 gap-2">
			<a type="submit" href="cars/{{id}}" class="btn btn-outline-dark" id="reviews-btn">See Reviews</a>
			<a type="submit" href="cars/reviews/{{id}}" class="btn btn-outline-dark" id="post-btn">Submit Reviews</a>
		</div>
	</div> 
</div>
{{/each}}