<!-- 1st review card -->
<div class="col">
	<div class="card">
		<!-- vehicle image -->
		<img src="{{image}}" class="card-img-top" alt="{{make}}_{{model}}">
		<div class="card-body">
			<!-- car year, make, model  -->
			<h5 class="card-title">{{year}} {{make}} {{model}}</h5>
			<!-- stars for review -->
			<p>{{overall_rating}}</p>
			<!-- customer review -->
			<p class="card-text">"{{review}}"</p>
			<!-- customer name -->
			<p>-{{username}}</p>
		</div>
	</div>
</div>