<!-- 1st review card -->
{{#each this}}
<div class="col">
	<div class="card mb-4">
		<!-- vehicle image -->
		<img src="{{car.image}}" class="card-img-top" alt="{{car.make}}_{{car.model}}">
		<div class="card-body">
			<!-- car year, make, model  -->
			<h5 class="card-title">{{car.year}} {{car.make}} {{car.model}}</h5>
			<!-- stars for review -->
			<label for="overall-rating">Overall Rating</label>
			<input id="overall-rating" name="overall" class="rating" value={{overall_rating}} type="number" data-readonly="true" data-size="xs">
			<!-- customer review -->                
			<p>{{review}}</p>   
			<!-- customer name -->
			<p>- {{user.username}}</p>
		</div>
		{{!-- <a href="/cars" type="submit" class="btn btn-info edit-link">See full review</a> --}}
	</div>
</div>
{{/each}}