<div class="container col-lg-8">
	<div class="card my-3">
		<div class="row g-0">
			<div class="col-lg-6">
				<img src="{{review.car.image}}" class="img-fluid" alt="{{review.car.make}}_{{review.car.model}}">
			</div>
			<div class="col-lg-6">
				<div class="card-body">
					<h5 class="card-title">How Did You Like The</h5>
					<!-- car make, model -->
					<h4>{{review.car.year}} {{review.car.make}} {{review.car.model}}</h4>
					<p>Did the vehicle have any of the following: </p>
					<!-- dents boolean -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="dents" name="dents" {{review.dents}}>
						<label class="form-check-label" for="inlineCheckbox1" >Dents</label>
					</div>
					<!-- scratches boolean -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="scratches" name="scratches" {{review.scratches}} >
						<label class="form-check-label" for="inlineCheckbox2">Scratches</label>
					</div>
					<!-- odor boolean -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="odor" name="odor" {{review.odor}}>
						<label class="form-check-label" for="inlineCheckbox2">Odor</label>
					</div>
					<!-- stains boolean -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="stains" name="stains" {{review.stains}}>
						<label class="form-check-label" for="inlineCheckbox2">Stains</label>
					</div>
					<!-- stars for review -->
					<p>How was your overall expierence with this vehicle</p>
					<input id="overall-rating" name="overall" class="rating" value="{{review.overall_rating}}" type="number" data-size="xs">
					<!-- text area for comments -->
					<div class="mb-3">
						<label for="comments" class="form-label">Please tell us more about your expierence:</label>
						<textarea class="form-control" id="comments" name="review" rows="3">{{review.review}}</textarea>
					</div>
					<div class="d-grid">
						<button type="submit" class="btn btn-lg btn-outline-dark me-2 mb-2" id="submit-review-btn">Submit Changes</button>
						<button type="button" class="btn btn-outline-danger me-2" id="delete-btn">Delete Review</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/javascript/edit-review.js"></script> 
<script src="/javascript/delete-review.js"></script>