<div class="container col-lg-8">
	<div class="card my-3">
		<div class="row g-0">
			<div class="col-lg-6">
				<img src="{{car.image}}" class="img-fluid" alt="{{car.make}}_{{car.model}}">
			</div>
			<div class="col-lg-6">
				<div class="card-body">
					<h5 class="card-title">How Did You Like The</h5>
					<!-- car make, model -->
					<h4>{{car.year}} {{car.make}} {{car.model}}</h4>
					<p>Did the vehicle have any of the following: </p>
					<!-- dents boolean -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="dents" name="dents" value="checked">
						<label class="form-check-label" for="dents">Dents</label>
					</div>
					<!-- scratches boolean -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="scratches" name="scratches" value="checked">
						<label class="form-check-label" for="scratches">Scratches</label>
					</div>
					<!-- odor boolean -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="odor" name="odor" value="checked">
						<label class="form-check-label" for="odor">Odor</label>
					</div>
					<!-- stains boolean -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="stains" name="stains" value="checked">
						<label class="form-check-label" for="stains">Stains</label>
					</div>
					<!-- stars for review -->
					<p>How was your overall expierence with this vehicle</p>
					<input id="overall-rating" name="overall" class="rating" value={{overall_rating}} type="number" data-size="xs">
					<!-- text area for comments -->
					<div class="mb-3">
						<label for="comments" class="form-label">Please tell us more about your expierence:</label>
						<textarea class="form-control" id="comments" name="review" rows="3"></textarea>
					</div>
					<div class="d-grid">
						<button type="submit" class="btn btn-lg btn-outline-dark me-2" id="submit-review-btn">Submit Review</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/javascript/post-review.js"></script>